<!-- chap 66-ngSwitch
   <ul class="nav nav-pills">
  <li [class.active]="viewmode=='map'"><a (click)="viewmode='map'">map view</a></li>
  <li [class.active]="viewmode=='list'"><a (click)="viewmode='list'">list view</a></li>  
</ul>
<div [ngSwitch]="viewmode">
  <div *ngSwitchCase="'map'">Map view content</div>
  <div *ngSwitchCase="'list'">list view content</div> 
  <div *ngSwitchDefault>Otherwise</div> 
</div> -->

<!-- ch-67 ngFor
   <ul>
  <li *ngFor="let course of courses;index as i; even as isEven">
    // these index are exported values see ngForOf in angular.io 
 {{i}}-{{course.name}}<span *ngIf="isEven">(even)</span>
  </li>
</ul> -->
<!-- ch-68 ngfor and chng detection
<button (click)="onAdd()">add </button>
<ul>
    <li *ngFor="let course of courses">
       {{course.name}}
//<button (click)="onRemove(course)">Remove </button> 
<button (click)="onChange(course)">Change</button>
    </li>
  </ul> -->

  <!-- ch-69 ngfor trackBy
  <button (click)='onload()'>onload</button>
  <ul>
      <li *ngFor="let course of courses; trackBy:trackreference">
        // here no need to add () for trackreference since v r just refering  
         {{course.name}}
      </li>
    </ul> -->

  <!-- ch-71 ng-class  <span 
    class="glyphicon" 
   [ngClass]="{
  'glyphicon-star':isSelected,
  'glyphicon-star-empty':!isSelected   
  }"
    (click)="onClick()"></span> -->

    <!-- ch-72 ngStyle
    <button
    [ngStyle]="{
      'backgroundColor':canSave?'blue':'gray',
      'color':canSave?'white':'black'
    }"
    >
    Save
    </button> -->

   <!-- ch-74 custom directives <input type="text" [appInputFormat]="'uppercase'"> -->